.place__paragraph {
  grid-area: paragraph;
  display: block;
  font-family: 'Inter-Regular', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.6;
  margin: 0 0 26px;
}

.place__paragraph:last-child {
  margin: 0;
}