.cover__title {
  font-family: 'Inter-ExtraBold', sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.1;
  text-align: center;
  z-index: 1;
  max-width: 560px;
  margin: 32px 0;
}

@media screen and (max-width: 767px){
  .cover__title {
    font-size: 32px;
    margin-bottom: 16px;
    max-width: 250px;
  }
}