.place__url-heading {
  display: block;
  font-family: 'Inter-Thin', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  color: #AAAAAA;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 12px 0;
}