.place__website {
  grid-area: website;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 767px){
  .place__website {
    order: 2;
    padding: 0 16px;
    margin-bottom: 32px;
  }
}